/.vscode
tinyasm.c
emu8086
_emu8086.c
kosy.txt
ops.py
reg_comb
a.out
test
reg_comb.h
test.c
/bin
/autom4te.cache
 
src/.deps
config.log
config.status
compile
emu8086-1.0.0.tar.gz
docs/lee.yml
docs/gtkemu8086/node_modules
docs/gtkemu8086-docs