/.vscode
tinyasm.c
emu8086
_emu8086.c
kosy.txt
ops.py
reg_comb
a.out
test
reg_comb.h
test.c
/bin
/autom4te.cache
 
src/.deps
config.log
config.status
compile
emu8086-1.0.0.tar.gz
docs/lee.yml
docs/gtkemu8086/node_modules
docs/gtkemu8086-docs
**/*.lo
**/*.la
**/*.o
emu8086-1.0.1.tar.gz
src/ll.txt
src/.libs
config.guess
config.sub
depcomp
install-sh
libtool
Makefile
missing
Makefile.in
ltmain.sh
src/Makefile
src/Makefile.in
pixmaps/Makefile.in
pixbufs/Makefile.in
mime/Makefile
mime/Makefile.in
include/Makefile.in
egs/Makefile
egs/Makefile.in
ar-lib
config.h.in
src/Emu8086-1.0.gir
src/Emu8086-1.0.typelib
stamp-h1
plugins/lcd/lcd/__pycache__
**/*.in
py-compile
m4/*